<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="~/css/stylesheet.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="container" style="min-width: 500px">
        <div class="page-content mb w-90">
            <div class="flex" id="top-bar-div">
                <h1 class="app-title">Stocks</h1>
                <div class="flex-1 pr" id="search-box-div">
                    <span>
                        <input class="search-text" type="text" placeholder="Search Stocks" />
                        <button class="fa-solid fa-gear trading-button"></button>
                        <button class="trading-button button-blue-back" type="button">Login</button>
                    </span>
                </div>
            </div>
            <div class="navbar mb">
                <ul>
                    <li>
                        <a asp-controller="Trade" asp-action="Index">Trade</a>
                        <a asp-controller="Trade" asp-action="Orders">Orders</a>
                    </li>
                </ul>
            </div>
            <div class="body w-100">
                @RenderBody()
            </div>
        </div>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>